@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');
@import './common/styles/variables';

body {
  background-color: $primary-200;
  font-family: "IBM Plex Sans", sans-serif;
  color: $neutral-0;
}

